version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${APP_NAME}_app
    env_file:
      - .env
    ports:
      - "${OCTANE_PORT:-8001}:8000"
    depends_on:
      - db
    networks:
      - laravel
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: ${APP_NAME}_db
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3309:3306"
    networks:
      - laravel
    restart: unless-stopped

networks:
  laravel:

volumes:
  db_data:
